/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

/.DS_Store
log.txt
/.autosign
.npmrc
package.json
package-lock.json
init-env
/.webkit
.symbolize-lib-paths
/entry/libs
/entry/src/main/cpp/imported
